/*
Name: Sliding Login Panel with jQuery 1.3.2
Author: Jeremie Tisseau
Author URI: http://web-kreation.com/
Date: March 26, 2009
Version: 1.0

	Copyright 2009 Jeremie Tisseau
	"Sliding Login Panel with jQuery 1.3.2" is distributed under the GNU General Public License version 3:
	http://www.gnu.org/licenses/gpl-3.0.html
*/

html, body {border: 0; margin: 0; padding: 0;}

@font-face {
	font-family: "Avenir";
	src: url("../font/avenir.woff2") format("woff2"),
       url("../font/avenir.woff") format("woff");
}
body {
	font-family: "Avenir", sans-serif;
	background: #99A989 url(../images/bg.jpg) repeat 0 0;
  	line-height: 130%;
  	width: 100%;
  	color: black;
    overflow: hidden;
}

a {
	color: #0099CC;
	text-decoration: none;
}

a:hover {
	color: #00CCFF;
}

a img {
  border: none;/*remove border for linked images*/
}

h1 {
	font-size: 1.6em;
	height: 20px;
	padding-top: 0;
}

h2{
	font-size: 1.2em;
	height: 20px;
	padding-top: 0;
}

.highlight {background-color:#FF9D9D;border-bottom:#F30 1px solid;border-top:#F30 1px solid;padding: 4px 10px}

/***** Main Layout ****/
#container {
  	width: 100%;
  	height: 100%;
  	text-align: center;/* IE fix to center the page */
}

#content {
  	width: 740px;
  	margin: 0 auto;/* center the page in Firefox */
  	text-align: left;
	padding: 20px;
}

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url(../images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
    top: 0;
    z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 0px;
  	color: white;
  	font-size: 80%;
	text-align: center;
	min-width: 385px;
}

.tab ul.login li.left {
  	background: url(../images/tab_l.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li.right {
  	background: url(../images/tab_r.png) no-repeat left 0;
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.login li {
	line-height: inherit;
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
  	background: url(../images/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.opener, .tab a.closer {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.opener {background: url(../images/bt_open.png) no-repeat left 0;}
.tab a.closer {background: url(../images/bt_close.png) no-repeat left 0;}
.tab a:hover.opener {background: url(../images/bt_open.png) no-repeat left -19px;}
.tab a:hover.closer {background: url(../images/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 27px;
	margin: 0;
	color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}
/*
#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}*/

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .content input.bt_login {
	width: 74px;
	background: transparent url(../images/bt_login.png) no-repeat 0 0;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../images/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}


.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

ul.ui-autocomplete.ui-menu {
    z-index: 1000;
}

.custom-combobox-input {
    margin: 0;
    padding: 0.4em;
}

#content {
    position: relative;
}
#slider-range {
	margin-top: 30px;
	width:290px;
}
.ui-slider-label {
	font-family: "Avenir";
	color: #FFFFFF;
}
.ui-slider-pips .ui-slider-pip {
	top: 17px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.ui-slider {
  border-radius: 20px;
  background: #434d5a;
  border: none;
  height: 10px;
  margin: 1em 4em 4em; }
                    
.ui-slider-handle {
  border-radius: 23px;
  height: 23px;
  width: 23px;
  top: -7px;
  margin-left: -11px;
  border: 2px solid #fffaf7; }
                    
.ui-slider-pip {
  top: 3px; }
                    
  .ui-slider-pip .ui-slider-line {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    margin-left: -2px;
    background: #fffaf7; }
select {
	border-radius: 0px;
}

#slider-range [class*=ui-slider-pip-selected] {
	display: block;
}

.ui-slider-pip-label {
	display: none;
}
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
.row .noleftpad {
	padding-left: 0px;
}
.row .lbl {
	line-height: 34px;
}
.row {
	max-width: 100vw;
}
#class-chart svg {
	width: 420px;
}
#round-chart svg {
	width: 420px;
}
#statTableInner {
    line-height: 10px;
	position: relative;
	float: right;
	right: 70px;
	top: 10px;
	font-size: 10pt;
}
#statTable {
	position: absolute;
	width: 800px;
}
.dc-chart g text {
	fill: #999999;
}
.dc-chart g .axis path {
	stroke: #999999;
}
.dc-chart g .axis .tick line {
	stroke: #999999;
}
#charts {
	padding-top: 10px;
	background: #171717;
	display: none;
}
/* ============================================================
  COMMON
============================================================ */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* ============================================================
  SWITCH 2 - ROUND FLAT
============================================================ */
input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 30px;
  height: 15px;
  background-color: #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 13px;
  background-color: #dddddd;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
  border-radius: 13px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #8ce196;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 18px;
  background-color: #8ce196;
}

div.cartodb-popup div.cartodb-popup-content-wrapper {
  width: 230px;
  max-width: 230px;
}

body .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.loader {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 4px solid #Fff;
  top: 50%;
  left: 50%;
  animation: loader 2s infinite ease;
  z-index: 99999;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

.cartodb-logo {
  display: none !important;
}

div.cartodb-legend ul li, div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
  color: #bbbbbb;
  margin: 0 0 20px;
  font: 85% arial, helvetica, sans-serif;
  text-transform: none;
}

#legend2{
  background: rgba(60,60,60,0.9);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 7px;
}

#legend2 .cartodb-legend {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: inherit;
  bottom: inherit;
  right: inherit;
  cursor: inherit;
  border: none;
  background: none;
  padding-bottom: 7px;
}


#legend2 .cartodb-legend.bubble {
  padding-bottom: 3px;
  padding-top: 0;
}

#legend2 .graph {
  background: rgba(60,60,60,0.0) !important;
}

div.cartodb-legend.category ul li .bullet {
  width: 20px;
  height: 20px;
  border: 1.5px solid rgba(255,255,255,.8);
  margin-top: -6px;
}

body div.cartodb-legend.bubble ul li.graph .bubbles {
  background: url(../images/bubbles.png) no-repeat 0 0;
  width: 120px;
  height: 40px;
}